/** General Styles **/

html,body { 
  height:100%; 
  width:100%;
  margin:0;
  padding:0;
}



#name{
  color:gray;
  font-weight:bold;
  text-align:center
}

#pane {
    position:relative;
    width:2000px; 
    height:2000px;
    
}

.food{
  position:absolute; 
  top:40px; 
  left:240px;
  width:20px; 
  height:20px;
  background-color:green;
}
    
.box {
    position:absolute; 
    top:140px; 
    left:140px;
    -webkit-transition: width 1s ease-in-out,height 1s ease-in-out;
    -moz-transition: width 1s ease-in-out,height 1s ease-in-out;
    -o-transition: width 1s ease-in-out,height 1s ease-in-out;
    transition: width 1s ease-in-out,height 1s ease-in-out;        
}

.me{
  background-color:black;
}

.enemy{
  background-color:red;
}

#chatWrapper{
  display:inline-block;
}

#gameWrapper{
    position: absolute; 
    top: 0; 
    left: 0; height: 100%; width: 100%;
    // width:100%;
    // height:800px;
    overflow-y:scroll;
    overflow-x:scroll;
    
}
#gameWrapper::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}
#compTile{
  transition: all .2s ease-in-out;
}

#compTile:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.activeBox{
  height:40rem;
}

.chatContainer{
  height:40rem;
  background-color:lightgrey;
  overflow-y:scroll;
}

.chatMessage{
  width: 50%;
  height: auto;
  margin: 1rem;
  padding:1rem;
}

.chatMessage p{
  font-size:12px;
}

#myMsg{
  float: right;
}

#anotherMsg{
  float: left;
}

/* clearfix */
.clearfix-7da63 {
  clear: both;
}

/* board */
.board-b72b1 {
  border: 2px solid #404040;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* square */
.square-55d63 {
  float: left;
  position: relative;

  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* white square */
.white-1e1d7 {
  background-color: #f0d9b5;
  color: #b58863;
}

/* black square */
.black-3c85d {
  background-color: #b58863;
  color: #f0d9b5;
}

/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}

/* notation */
.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}

.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}

.numeric-fc462 {
  top: 2px;
  left: 2px;
}

.piece-417db {
    cursor: pointer;
}




.bar{
	background-color:#c1c1c1;
}

.breadcrumb {
	.active a {
		color: #000;
	}
}

.competition {
	background: #fff;
	color: #000;
}

/** GAME COMPETITION STYLES **/
.game {
	.game__player-name {
		padding-left: 1rem;
	}
	
	.game__player-icon {
		display: inline-block;
		vertical-align: middle;			
	}
}


/** RAIN component styles below **/
.rain-emoji-block {
	position: relative;
	overflow: hidden;

	.rain-emoji-block__background {
		width: 100%;
		height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 999;

	    span {
	    	top: -30%;
	    	position: absolute;
	    	webkit-animation: slide linear infinite;
            -moz-animation: slide linear infinite;
            animation: slide linear infinite;
	    }
	}
}

@-moz-keyframes slide
{
    0% {
    	top: -30%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 130%;
	}
}

@keyframes slide
{
    0% {
    	top: -30%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 130%;
	}
}